{{#each animal}}
<div class="card">
  
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{animal.image}}" alt="{{animal.image_description}}">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{animal.name}}</p>
        <p class="subtitle is-6">Contact Owner:{{animal.user.email}}</p>
      </div>
    </div>
    <div class="content">
      <p>Type:{{animal.type}}</p>
      <p>Species:{{animal.species}}</p>
      <p>Morph:{{animal.morph}}</p>
    </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
{{/each}}