<section class="section is-centered">
  <div class="container is-centered">
    <h3 class="title has-text-centered is-size-3">
      Reptiles
    </h3>
    <div class="columns mt-5 is-full is-variable is-centered">
      {{#each animals as |animal|}}
      <div class="column is-4-tablet is-4-desktop is-centered">
        <div class="card card-media-margin 1.5rem is-centered">
          <div class="card-image has-text-centerd is-square">
            <img src="{{animal.image}}" alt="{{animal.description}}">
          </div>
          <div class="card-content">
            <p class="title is-size-3">{{animal.name}}
            </p>
            <p class="is-right float-right">Date Added: {{format_date animal.date_created}}</p>
            <p class="">Type: {{animal.type}}
            </p>
            <p>Species: {{animal.species}}</p>
            <p>Morph: {{animal.pattern}}</p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <a id="view" href="/animal/{{animal.id}}" class="has-text-grey">
                View
              </a>
            </p>
            {{#if logged_in}}
            <p class="card-footer-item">
              <a id="edit" href="/edit" class="has-text-grey">
                Edit
              </a>
            </p>
            <p class="card-footer-item">
              <a id="delete" href="/delete" class="has-text-grey">
                Delete
              </a>
            </p>
            {{/if}}
          </footer>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>