<section class="section">
    <div class="container">

        <section class="hero is-primary has text-centered">
            <div class="hero-body has-text-centered">
                <p class="title">
                    My Profile
                </p>
            </div>
        </section>
        <div class="columns mt-5 is-full is-variable is-centered">
            {{#each animals as |animal|}}
            <div class="column is-4-tablet is-4-desktop is-centered">
                <div class="card card-media-margin 1.5rem is-centered has-text-centerd">
                    <div class="has-text-centered has-background-primary-light">
                        <p
                            class="title is-size-2 has-text-centerd has-text-color-black is-underlined has-text-centered">
                            {{animal.name}}
                        </p>
                    </div>
                    <div class="card-image has-text-centerd is-square">

                        <img src="{{animal.image}}" alt="{{animal.description}}">
                        <p class="is-right float-right is-underlined ">Date Added: {{format_date animal.date_created}}
                        </p>
                    </div>

                    <div class="card-content has-background-primary-light has-text-centered">

                        <p class="is-size-4">{{animal.type}}
                        </p>
                        <p class="is-size-4">{{animal.pattern}}</p>
                        <p class="is-size-4">{{animal.species}}</p>
                    </div>
                    <footer class="card-footer ">
                        <a id="view" href="/animal/{{animal.id}}"
                            class="card-footer-item has-background-primary-light is-size-5">

                            <p class="has-text-weight-semibold">View</p>

                        </a>
                        <a id="home" href="/" class="is-size-5 card-footer-item has-background-primary-light">

                            <p class="has-text-weight-semibold">Home</p>

                        </a>
                        <a id="edit" href="/edit" class="card-footer-item has-background-primary-light is-size-5">

                            <p class="has-text-weight-semibold">Edit</p>

                        </a>
                    </footer>
                </div>
                <div class="has-text-centered">
                    <p data-id="{{animal.id}}" class="button deletion delete-button has-text-weight-semibold  has-background-danger has-text-black is-size-5 is-hovered has-text-centered">
                        Delete
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<script src="/js/profile.js"></script>