<section class="section">
  <div class="container">
    <h3 class="title has-text-centered is-size-3">
      {{animal.name}}
    </h3>
    <div class="column mt-5 is-8 is-variable is-centered">
      
      <div class="column is-4-tablet is-12-desktop is-centered">
        <div class="card">
          <div class="card-image has-text-centerd px-6">
            <img src="/pics/SiltherIn.png" alt="{{animal.description}}">
          </div>
          <div class="card-content">
            <p class="is-right float-right">Date Added: {{format_date animal.date_created}}</p>
            <p class="">Type:{{animal.type_id.name}}</p>
            <p>Species:{{animal.species_id.name}}</p>
            <p>Morph:{{animal.pattern}}</p>
            <p>Description:{{animal.description}}</p>
            <p>Gravid:{{animal.gravid}}</p>
            <p>Age:{{animal.age}}</p>
            <p>Sex:{{animal.sex}}</p>
            <p>Alive:{{animal.deceased}}</p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <a id="home" href="/" class="has-text-grey">
                Home
              </a>
              <a id="edit" href="/edit" class="has-text-grey">
                Edit
              </a>
            </p>
          </footer>
          
        </div>
      </div>
    
    </div>
  </div>
</section>
