<section class="section">
  <div class="container">
    
    <div class="column mt-5 is-8 is-variable is-centered">
      
      <div class="column is-4-tablet is-12-desktop is-centered">
        <div class="card">
          <div class="card-image has-text-centerd px-6">
            <img src="{{animal.image}}" alt="{{animal.description}}">
             <p class="is-right float-right">Date Added: {{format_date animal.date_created}}</p>
          </div>
          <div class="card-content">
           <p class="title is-2"> {{animal.name}}</p>
            <p class="">{{animal.type}}</p>
            <p>{{animal.pattern}}</p>
            <p> {{animal.species}}</p>
            <p>{{animal.description}}</p>
              {{#if animal.gravid}}
            <p>Gravid</p>
              {{/if}}
            <p>{{animal.age}} old</p>
            <p>{{animal.sex}}</p>
              {{#if animal.forSale}}
            <p>For Sale</p>
              {{/if}}
              {{#if animal.deceased}}
            <p>Deceased</p>
              {{/if}}
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <a id="home" href="/" class="has-text-grey">
                Home
              </a>
            </p>
          </footer>
          
        </div>
      </div>
    
    </div>
  </div>
</section>

