<section class="section is-centered px-0">
  <div class="container is-centered px-0">
    
    <div class="columns mt-5 is-variable is-centered">
      
      <div class="column is-centered is-flex frex-wrap is-flex-wrap-wrap px-0">
        <div class="card card card-media-margin is-centered">
          <div class="card-image has-text-centerd px-6" style="width: 400px;">
            <img src="{{animal.image}}" alt="{{animal.description}}">
             <p class="is-right float-right">Date Added: {{format_date animal.date_created}}</p>
          </div>
          <div class="card-content">
           <p class="title is-2"> {{animal.name}}</p>
            <p class="">{{animal.type}}</p>
            <p>{{animal.pattern}}</p>
            <p> {{animal.species}}</p>
            <p>{{animal.description}}</p>
              {{#if animal.gravid}}
            <p>Gravid</p>
              {{/if}}
            <p>{{animal.age}} old</p>
            <p>{{animal.sex}}</p>
              {{#if animal.forSale}}
            <p>For Sale</p>
              {{/if}}
              {{#if animal.deceased}}
            <p>Deceased</p>
              {{/if}}
              {{#if animal.breeding}}
            <p>Breeding History: {{animal.breeding}}</p>
            {{/if}}
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <a id="home" href="/" class="has-text-grey">
                Home
              </a>
            </p>
            {{#if logged_in}}
             <p class="card-footer-item">
              <a id="home" href="/profile" class="has-text-grey">
                Profile
              </a>
            </p>
            {{/if}}
          </footer>
          
        </div>
      </div>
    
    </div>
  </div>
</section>

